
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
*{
    margin:0;
    padding:0;
}
.navbar{
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.ul{
    display:flex;
    list-style-type:none;
    align-items:center;
    gap:60px;
}
.ul a{
    text-decoration:none;
}
.btn{
    background-color:#30B868;
    color:white;
    font-size:1em;
    font-weight: 600px;
    border:none;
    border-radius:10px;
    padding:10px 20px;
}
.logo-navbar{
    height:50%;
    width:50%;
}


.early{
    background-image:url(../assets/hero-bg.png);
    background-size:cover;
    display: flex;
    text-align: center;
    justify-content: center;
    
}
.structure{
    color:white;
    font-weight:800;
    font-size:3rem;
    line-height:50px;
    
}
.btn-early{
    
    font-size:1em;
    font-weight: 600px;
    border:none;
    border-radius:10px;
    padding:10px 20px;
}
.toking{
    color:#30B868;
}

.private{
    color:white;
    opacity: 0.4;
}
.works{
    border:white;
    background-color: none;
    /* color:white; */
    border-radius:10px;
    padding:15px 20px;
}
.knowledge{
    display: flex;
    text-align: center;
    justify-content: center;
    padding:40px 0;
}
.notes{
    
    font-weight:800;
    font-size:3rem;
    line-height: 50px;
}
.learn{
    font-size:14px;
    line-height: 20px;
    opacity:0.7;
    
}
.do{
    width:1300px;
    height:100px;
}
.img-icon{
    display: flex;
    align-items:center;
    justify-content: center;
}
.img-icon img{
    width:40px;
    height:40px;
    background: red;
    border-radius: 50%;
    padding: 10px;
    display:flex;
    align-items: center;
    justify-content:center;

}
.card-h3{
    font-size:20px;
    font-weight:600;
    padding-top:16px;
    display:flex;
    align-items: center;
    justify-content:center;
}
.card-p{
    font-weight:400;
    font-size:14px;
    padding-top:16px;
    padding-bottom: 40px;
    display:flex;
    align-items: center;
    justify-content:center;
}

.card-container{
    padding:2px 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width:40%;
    transition: 0.3s;
    
}
.card{
    display: flex;
    margin:0 auto;
    gap:28px;
}
.card-section{
    margin:0px 120px;
}
.knowledge-img img{
    width:50%;
    
}
.sulation{
    text-transform: uppercase;
    font-size:14px;
    font-weight: 500;
    color:#30B868;
}